site_url: https://loski-github-io.pages.dev
display_url: https://loski-github-io.pages.dev

backend:
  name: github
  repo: Bruniloski/loski.github.io
  branch: main
  base_url: https://loski-github-io.pages.dev
  auth_endpoint: api/auth

media_folder: "uploads"
public_folder: "/uploads"

collections:
  - name: "products"
    label: "Productos"
    label_singular: "Producto"
    folder: "products"
    create: true
    delete: true
    slug: "{{slug}}"
    extension: "md"
    format: "frontmatter"

    fields:
      - label: "Nombre del producto"
        name: "title"
        widget: "string"

      - label: "Precio (€)"
        name: "price"
        widget: "number"
        value_type: "float"
        min: 0
        step: 0.01

      - label: "Prioridad"
        name: "priority"
        widget: "boolean"
        default: false

      - label: "Enlace"
        name: "link"
        widget: "string"
        required: false

      - label: "Imagen del producto"
        name: "image"
        widget: "image"
        required: false

      - label: "Descripción / notas"
        name: "body"
        widget: "markdown"
        required: false
